[submodule "src/wikis/discindo"]
	path = src/wikis/discindo
	url = https://github.com/streambinder/discindo.wiki.git
[submodule "src/wikis/nuntius"]
	path = src/wikis/nuntius
	url = https://github.com/streambinder/nuntius.wiki.git
[submodule "src/wikis/theca"]
	path = src/wikis/theca
	url = https://github.com/streambinder/theca.wiki.git
[submodule "src/docs/spotitube"]
	path = src/docs/spotitube
	url = https://github.com/streambinder/spotitube.git
[submodule "src/docs/erro"]
	path = src/docs/erro
	url = https://github.com/streambinder/erro.git
[submodule "src/docs/vpnc"]
	path = src/docs/vpnc
	url = https://github.com/streambinder/vpnc.git
