@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;600;700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.11.2/css/all.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
@import url('main-var.css');
/* core tags */

html {
	background-color: var(--color-background);
	font-family: 'Overpass Mono', monospace;
	color: var(--color);
	border: 8px solid var(--color);
	margin: 10px;
	padding: 25px;
	font-size: 1.25em;
	/* disable text select */
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

p {
	font-size: .85em;
	font-weight: lighter;
}

section {
	margin: 0 auto 50px;
}

/* AMP */

html:not([amp4ads]) {
	min-height: calc(100vh - 61px) !important;
}

html:not([amp4ads]) body {
	min-height: calc(100vh /100 * 80) !important;
	margin-top: 20px !important;
}

/* navbar */

nav {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
}

nav>a:hover {
	filter: brightness(.85);
}

/* one-man-show */

main.one-man-show {
	text-align: center;
	position: absolute;
	min-width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

main.one-man-show>h1, main.one-man-show>span {
	display: block;
}

main.one-man-show>h1.title {
	font-weight: bold;
	font-size: 1.75em;
	text-transform: uppercase;
	margin-bottom: 10px;
}

main.one-man-show>span.subtitle {
	letter-spacing: 3.75px;
}

main.one-man-show>ul {
	display: block;
	padding: 0;
	margin-top: 50px;
}

main.one-man-show>ul>li {
	position: relative;
	display: inline-block;
	margin: auto 10px;
}

main.one-man-show>ul>li:hover {
	filter: brightness(.85);
}

/* generic page */

main.page>h1 {
	margin-bottom: 20px;
}

main.page>h5 {
	margin: 0 0 50px;
	font-weight: normal;
}

main.page a {
	text-decoration: underline;
}

/* cards */

ul.cards {
	padding: 0;
}

ul.cards>li {
	display: inline-block;
	border: 1px solid var(--color-softer);
	width: calc(100% - 40px);
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 3.5px;
	position: relative;
	vertical-align: top;
}

ul.cards>li:hover {
	filter: brightness(.75);
}

ul.cards>li>a>i {
	position: absolute;
	top: 30px;
	transform: translateY(-50%);
}

ul.cards>li>a>span {
	display: block;
	text-indent: 40px;
}

ul.cards>li>p.caption {
	margin-bottom: 0;
	border-top: 1px solid var(--color-softer);
	padding-top: 25px;
	font-size: .75em;
}

/* tooltip */

a>span.tip {
	visibility: hidden;
	position: absolute;
	left: 50%;
	bottom: 120%;
	transform: translateX(-50%);
	padding: 7.5px 7.5px 5px 7.5px;
	border-radius: 5px;
	font-size: .75em;
	text-transform: uppercase;
	color: var(--color);
	background-color: var(--color-dark-transparent);
}

span.tip.leftip {
	right: 150%;
	bottom: -10%;
	left: auto;
	transform: none;
}

a:hover>span.tip {
	visibility: visible;
}

/* separator */

span.separator {
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
	margin: 25px auto;
	opacity: .5;
}

span.separator>i {
	position: absolute;
	transform: translate(-50%, -9px);
	text-decoration: none;
	font-family: monospace;
}

span.separator::before, span.separator::after {
	position: absolute;
	content: '-';
	color: var(--color-background);
	display: inline-block;
	border-top: 1px solid var(--color-softer);
	width: 100px;
}

span.separator::before {
	right: 50%;
	transform: translateX(-25px);
}

span.separator::after {
	left: 50%;
	transform: translateX(25px);
}

/* desktop media queries */

@media (min-width: 768px) {
	/* one man show */
	main.one-man-show {
		min-width: 500px;
	}
	main.one-man-show>h1.title {
		font-size: 3.25em;
	}
	main.one-man-show>span.subtitle {
		font-size: 2em;
		letter-spacing: 5px;
	}
	/* generic page*/
	main.page {
		width: 750px;
		margin: auto;
	}
	/* cards */
	ul.cards>li {
		width: 325px;
		margin: auto 8px 8px auto;
	}
}