/*! Github Dark (Native mod) theme; http://blog.favrik.com/2011/02/22/preview-all-pygments-styles-for-your-code-highlighting-needs/#stylesheetNavigator */

.codehilite, .codehilite pre, .codehilite table {
    background: #111 !important;
    color: #d0d0d0 !important;
}

.codehilite .hll {
    background-color: #404040 !important;
}

.codehilite .c {
    color: #3677a9 !important;
}

/* Comment */

.codehilite .err {
    color: #a61717 !important;
    background-color: #311 !important;
}

/* Error */

.codehilite .g {
    color: #d0d0d0 !important;
}

/* Generic */

.codehilite .k {
    color: #ccc !important;
}

/* Keyword; catches prefixes and css3 */

.codehilite .l {
    color: #d0d0d0 !important;
}

/* Literal */

.codehilite .n, .codehilite .h {
    color: #ccc !important;
}

/* Name */

.codehilite .o {
    color: #777 !important;
}

/* Operator */

.codehilite .x {
    color: #d0d0d0 !important;
}

/* Other */

.codehilite .p {
    color: #E9B96E !important;
}

/* Punctuation */

.codehilite .cm {
    color: #3677a9 !important;
}

/* Comment.Multiline */

.codehilite .cp {
    color: #D2691E !important;
}

/* Comment.Preproc */

.codehilite .c1 {
    color: #3677a9 !important;
}

/* Comment.Single */

.codehilite .cs {
    color: #e50808 !important;
    background-color: #520000 !important;
}

/* Comment.Special */

.codehilite .gd {
    color: #d22323 !important;
}

/* Generic.Deleted */

.codehilite .ge {
    color: #d0d0d0 !important;
}

/* Generic.Emph */

.codehilite .gr {
    color: #d22323 !important;
}

/* Generic.Error */

.codehilite .gh {
    color: #ffffff !important;
}

/* Generic.Heading */

.codehilite .gi {
    color: #589819 !important;
}

/* Generic.Inserted */

.codehilite .go {
    color: #cccccc !important;
}

/* Generic.Output */

.codehilite .gp {
    color: #aaaaaa !important;
}

/* Generic.Prompt */

.codehilite .gs {
    color: #d0d0d0 !important;
}

/* Generic.Strong */

.codehilite .gu {
    color: #ffffff !important;
}

/* Generic.Subheading */

.codehilite .gt {
    color: #d22323 !important;
}

/* Generic.Traceback */

.codehilite .kc {
    color: #6ab825 !important;
}

/* Keyword.Constant */

.codehilite .kd {
    color: #6ab825 !important;
}

/* Keyword.Declaration */

.codehilite .kn {
    color: #6ab825 !important;
}

/* Keyword.Namespace */

.codehilite .kp {
    color: #6ab825 !important;
}

/* Keyword.Pseudo */

.codehilite .kr {
    color: #6ab825 !important;
}

/* Keyword.Reserved */

.codehilite .kt {
    color: #6ab825 !important;
}

/* Keyword.Type */

.codehilite .ld {
    color: #d0d0d0 !important;
}

/* Literal.Date */

.codehilite .m {
    color: #cd2828 !important;
}

/* Literal.Number */

.codehilite .s {
    color: #D2691E !important;
}

/* Literal.String */

.codehilite .na {
    color: #bbbbbb !important;
}

/* Name.Attribute */

.codehilite .nb {
    color: #24909d !important;
}

/* Name.Builtin */

.codehilite .nc {
    color: #447fcf !important;
}

/* Name.Class */

.codehilite .no {
    color: #4ca !important;
}

/* Name.Constant */

.codehilite .nd {
    color: #ffa500 !important;
}

/* Name.Decorator */

.codehilite .ni {
    color: #d0d0d0 !important;
}

/* Name.Entity */

.codehilite .ne {
    color: #bbbbbb !important;
}

/* Name.Exception */

.codehilite .nf {
    color: #098 !important;
}

/* Name.Function */

.codehilite .nl {
    color: #d0d0d0 !important;
}

/* Name.Label */

.codehilite .nn {
    color: #447fcf !important;
}

/* Name.Namespace */

.codehilite .nx {
    color: #d0d0d0 !important;
}

/* Name.Other */

.codehilite .py {
    color: #d0d0d0 !important;
}

/* Name.Property */

.codehilite .nt {
    color: #6ab825 !important;
}

/* Name.Tag */

.codehilite .nv {
    color: #4ca !important;
}

/* Name.Variable */

.codehilite .ow {
    color: #6ab825 !important;
}

/* Operator.Word */

.codehilite .w {
    color: #666666 !important;
}

/* Text.Whitespace */

.codehilite .mf {
    color: #cd2828 !important;
}

/* Literal.Number.Float */

.codehilite .mh {
    color: #cd2828 !important;
}

/* Literal.Number.Hex */

.codehilite .mi {
    color: #cd2828 !important;
}

/* Literal.Number.Integer */

.codehilite .mo {
    color: #cd2828 !important;
}

/* Literal.Number.Oct */

.codehilite .sb {
    color: #D2691E !important;
}

/* Literal.String.Backtick */

.codehilite .sc {
    color: #D2691E !important;
}

/* Literal.String.Char */

.codehilite .sd {
    color: #D2691E !important;
}

/* Literal.String.Doc */

.codehilite .s2 {
    color: #D2691E !important;
}

/* Literal.String.Double */

.codehilite .se {
    color: #D2691E !important;
}

/* Literal.String.Escape */

.codehilite .sh {
    color: #D2691E !important;
}

/* Literal.String.Heredoc */

.codehilite .si {
    color: #D2691E !important;
}

/* Literal.String.Interpol */

.codehilite .sx {
    color: #ffa500 !important;
}

/* Literal.String.Other */

.codehilite .sr {
    color: #cd2828 !important;
}

/* Literal.String.Regex */

.codehilite .s1 {
    color: #D2691E !important;
}

/* Literal.String.Single */

.codehilite .ss {
    color: #D2691E !important;
}

/* Literal.String.Symbol */

.codehilite .bp {
    color: #24909d !important;
}

/* Name.Builtin.Pseudo */

.codehilite .vc {
    color: #4ca !important;
}

/* Name.Variable.Class */

.codehilite .vg {
    color: #4ca !important;
}

/* Name.Variable.Global */

.codehilite .vi {
    color: #4ca !important;
}

/* Name.Variable.Instance */

.codehilite .il {
    color: #cd2828 !important;
}

/* Literal.Number.Integer.Long */