<main class="page" role="main">
  <h1>
    <a href="{{ page.url }}">{{ page.name }}</a>
  </h1>
  <p class="caption">{{ page.caption }}</p>

  {! if not page.alive !}
  <div class="disclaimer">
    <p>
      This project is no more under active development.<br />
      This may affect its usage in unpredictable and unguaranteed ways.
    </p>
  </div>
  {! endif !}

  <ul class="cards">
    {! if page.url !}
    <li>
      <a href="{{ page.url }}" target="_blank" rel="noopener">
        <span>GitHub</span>
      </a>
    </li>
    {! endif !}
    {! for section in page.sections !}
    <li>
      <a href="#{{ section.id }}">
        <span>{{ section.name }}</span>
      </a>
    </li>
    {! endfor !}
  </ul>

  <span class="separator"></span>

  {{ page.content }}
</main>
