<main class="page">
  <h1>
    <a href="{{ page.url }}"
      ><i class="{{ icons['project-code'] }}"></i
      ><span class="tip">Source code</span></a
    >
    {{ page.name }}
  </h1>
  <h5 class="caption">{{ page.caption }}</h5>

  {! if not page.alive !}
  <div class="disclaimer">
    <h5>
      This project is no more under active development.<br />
      This may affect its usage in unpredictable and unguaranteed ways.
    </h5>
  </div>
  {! endif !}

  <ul class="cards">
    {! for section in page.sections !}
    <li>
      <a href="#{{ section.id }}">
        <i class="{{ section.icon }}"></i>
        <span>{{ section.name }}</span>
      </a>
    </li>
    {! endfor !}
  </ul>

  <span class="separator"><i>#</i></span>

  {{ page.content }}
</main>
