@font-face {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 300;
    src: local('Overpass Mono Light'), local('OverpassMono-Light'), url('/fonts/overpass-mono/overpass-mono-v5-latin-300.woff2') format('woff2'), url('/fonts/overpass-mono/overpass-mono-v5-latin-300.woff') format('woff');
}

@font-face {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 600;
    src: local('Overpass Mono SemiBold'), local('OverpassMono-SemiBold'), url('/fonts/overpass-mono/overpass-mono-v5-latin-600.woff2') format('woff2'), url('/fonts/overpass-mono/overpass-mono-v5-latin-600.woff') format('woff');
}

@font-face {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Overpass Mono Regular'), local('OverpassMono-Regular'), url('/fonts/overpass-mono/overpass-mono-v5-latin-regular.woff2') format('woff2'), url('/fonts/overpass-mono/overpass-mono-v5-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Overpass Mono';
    font-style: normal;
    font-weight: 700;
    src: local('Overpass Mono Bold'), local('OverpassMono-Bold'), url('/fonts/overpass-mono/overpass-mono-v5-latin-700.woff2') format('woff2'), url('/fonts/overpass-mono/overpass-mono-v5-latin-700.woff') format('woff');
}