@import url('font.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css');
@import url('main-var.css');
@import url('pygments.css');
@import url('spinner.css');
/* core tags */

html {
	background-color: var(--color-background);
	font-family: 'Overpass Mono', monospace;
	color: var(--color);
	border: 8px solid var(--color);
	margin: 10px;
	padding: 25px;
	font-size: 1.25em;
	min-height: calc(100vh - 86px);
	/* disable text select */
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

p, li {
	font-size: .85em;
	font-weight: lighter;
}

section {
	margin: 0 auto 50px;
}

/* navbar */

nav {
	position: absolute;
	top: 40px;
	right: 40px;
	z-index: 10;
}

nav>a:hover {
	filter: brightness(.85);
}

/* one-man-show */

main.one-man-show {
	text-align: center;
	position: absolute;
	min-width: 350px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

main.one-man-show>h1, main.one-man-show>span {
	display: block;
}

main.one-man-show>h1.title {
	font-weight: bold;
	font-size: 1.75em;
	text-transform: uppercase;
	margin-bottom: 10px;
}

main.one-man-show>span.subtitle {
	letter-spacing: 3.75px;
}

main.one-man-show>ul {
	display: block;
	padding: 0;
	margin-top: 50px;
}

main.one-man-show>ul>li {
	position: relative;
	display: inline-block;
	margin: auto 10px;
}

main.one-man-show>ul>li:hover {
	filter: brightness(.85);
}

/* generic page */

main.page>h1 {
	margin-bottom: 20px;
}

main.page>h5.caption {
	margin: 0 0 50px;
	font-weight: normal;
}

main.page a {
	text-decoration: underline;
}

main.page>h2 {
	margin-block-start: 1.5em;
}

/* cards */

ul.cards {
	padding: 0;
}

ul.cards>li {
	display: inline-block;
	background-color: var(--color-background);
	border: 1px solid var(--color-softer);
	width: 100%;
	margin-bottom: 10px;
	border-radius: 3.5px;
	position: relative;
	vertical-align: top;
}

ul.cards>li:hover {
	filter: brightness(.9);
}

ul.cards>li>a {
	text-decoration: none;
	display: block;
	padding: 20px;
}

ul.cards>li>a>i {
	position: absolute;
	top: 30px;
	transform: translateY(-60%);
	width: 20px;
	text-align: center;
}

ul.cards>li>a>span {
	display: block;
	text-indent: 40px;
}

/* tooltip */

a {
	position: relative;
}

a>span.tip {
	visibility: hidden;
	position: absolute;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%, -100%);
	padding: 7.5px 7.5px 5px 7.5px;
	border-radius: 5px;
	font-size: 15px;
	font-weight: normal;
	width: max-content;
	text-transform: uppercase;
	color: var(--color);
	background-color: var(--color-dark-transparent);
}

span.tip.leftip {
	right: 150%;
	bottom: -10%;
	left: auto;
	transform: none;
}

a:hover>span.tip {
	visibility: visible;
}

/* separator */

span.separator {
	display: inline-block;
	width: 100%;
	text-align: center;
	position: relative;
	margin: 25px auto;
	opacity: .5;
}

span.separator>i {
	position: absolute;
	transform: translate(-50%, -9px);
	text-decoration: none;
	font-family: monospace;
}

span.separator::before, span.separator::after {
	position: absolute;
	content: '-';
	color: var(--color-background);
	display: inline-block;
	border-top: 1px solid var(--color-softer);
	width: 100px;
}

span.separator::before {
	right: 50%;
	transform: translateX(-25px);
}

span.separator::after {
	left: 50%;
	transform: translateX(25px);
}

/* terminalize pre/code tags */

.codehilite, .codehilite pre, .codehilite table {
	border-radius: 5px;
}

.codehilite *, pre * {
	/* allow select */
	user-select: text;
	-o-user-select: text;
	-ms-user-select: text;
	-moz-user-select: text;
	-webkit-user-select: text;
}

pre {
	overflow-x: auto;
	padding: 20px;
}

code {
	font-family: 'Overpass Mono', monospace;
	font-weight: bold;
	word-break: break-word;
}

.codehilite code {
	font-size: .85em;
	font-weight: normal;
}

/* scroll bar */

::-webkit-scrollbar {
	width: 12.5px;
}

/* ::-webkit-scrollbar-track {} */

::-webkit-scrollbar-thumb {
	background-color: var(--color-background-darker);
}

/* tables */

main.page table {
	width: 100%;
	font-size: .9em;
}

main.page table th {
	background-color: var(--color-background-darker);
}

main.page table th:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

main.page table th:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

main.page table th, td {
	padding-top: 5px;
	padding-left: 5px;
}

/* playlists */

main.page ul.playlists {
	margin: 0;
	padding: 0;
}

main.page ul.playlists>li {
	display: block;
	margin-bottom: 15px;
}

main.page ul.playlists>li>div {
	display: none;
}

main.page ul.playlists>li>iframe {
	width: 100%;
	border-radius: 5px;
	background-color: var(--color-background-darker);
	background-image: url(https://www.iconsdb.com/icons/preview/white/spotify-xxl.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 30px;
}

/* images */

main.page img {
	max-width: 100%;
	margin: auto;
	display: block;
	border-radius: 5px;
}

/* caption */

p.caption {
	margin-bottom: 0;
	border-top: 1px solid var(--color-softest);
	padding-top: 25px;
}

/* desktop media queries */

@media (max-width: 395px) {
	/* generic page*/
	main.page>h1 {
		font-size: 1.75em;
	}
}

@media (min-width: 768px) {
	/* one man show */
	main.one-man-show {
		min-width: 500px;
	}
	main.one-man-show>h1.title {
		font-size: 3.25em;
	}
	main.one-man-show>span.subtitle {
		font-size: 2em;
		letter-spacing: 5px;
	}
	/* generic page*/
	main.page {
		width: 750px;
		margin: auto;
	}
	/* cards */
	ul.cards>li {
		width: 49%;
		margin: auto .35% 5px .35%;
	}
	/* playlists */
	main.page ul.playlists>li {
		height: 250px;
		border-radius: 5px;
		border: 1px solid var(--color-softest);
	}
	main.page ul.playlists>li>div {
		max-width: 25%;
		padding: 15px;
		display: inline-block;
		vertical-align: top;
	}
	main.page ul.playlists>li>div>h2 {
		text-align: center;
		margin-block-start: .4em;
	}
	main.page ul.playlists>li.swap>div {
		float: right;
		text-align: right;
	}
	main.page ul.playlists>li>iframe {
		width: 70%;
		height: 100%;
		float: right;
		border-radius: 0;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	main.page ul.playlists>li.swap>iframe {
		float: left;
		border-radius: 0;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
	}
}